<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- BoardDao의 구현 -->  
<mapper namespace="com.mycom.myapp.board.dao.BoardDao">

	<insert id="insertBoard" parameterType="com.mycom.myapp.board.dto.BoardDto">
		INSERT INTO board 	( user_seq, 	title, 	content	)
					VALUES 	(${userSeq}, ${title}, ${content} )
	</insert>
  
</mapper>