<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- UserDao의 구현 -->  
<mapper namespace="com.mycom.myapp.user.dao.UserDao">

	<insert id="registerUser" parameterType="com.mycom.myapp.user.dto.UserDto">
		INSERT INTO users (user_name, user_password, user_email, user_register_date)
				VALUES	(#{userName}, #{userPassword}, #{userEmail}, now())
	</insert>
  
</mapper>















